<%= simple_form_for ad do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :title, label: 'Título do Anúncio' %>
    </div>
    <div class="col-md-6">
      <%= f.input :url, label: 'URL do Anúncio' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= f.input :description, label: 'Descrição / Observacão', as: :text %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :ad_type, collection: Ad::ADS_TYPE, label: 'Tipo de Anúncio', prompt: 'Selecione o tipo de anúncio' %>
    </div>
    <div class="col-md-6">
      <%= f.input :active, as: :select, label: 'Estado do Anúncio', collection: [['Ativo', true], ['Inativo', false]], selected: f.object.active %>
    </div>
  </div>
  <div class="row" data-controller="photo-preview">
    <div class="col-md-6 col-12">
      <%= f.label 'Imagem do Anúncio', class: "mb-2" %>
      <%= f.file_field :image, class: "form-control", data: { action: "change->photo-preview#preview" } %>
    </div>
    <div class="col-md-6 col-12" id="preview-container">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center my-4">
      <%= f.button :submit, 'Salvar Anúncio', class: 'btn-red' %>
    </div>
  </div>
<% end %>