<div class="container pt-4">
  <%= simple_form_for @ad do |f| %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :title, label: 'Título do Anúncio' %>
      </div>
      <div class="col-md-6">
        <%= f.input :url, label: 'URL do Anúncio' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= f.input :description, label: 'Descrição', as: :text %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :ad_type, collection: Ad::ADS_TYPE, label: 'Tipo de Anúncio', prompt: 'Selecione o tipo de anúncio' %>
      </div>
      <div class="col-md-6">
        <%= f.input :location, collection: Ad::LOCATION, label: 'Localização do Anúncio', prompt: 'Selecione a localização' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :image, as: :file, label: 'Imagem do Anúncio' %>
      </div>
      <div class="col-md-6">
        <%= f.input :active, as: :boolean, label: 'Anúncio Ativo' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <%= f.button :submit, 'Salvar Anúncio', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
