<div class="form-group">
  <%= f.input :title, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.input :review, class: 'form-control', placeholder: "De uma nota de 1 a 5" %>
</div>
<div class="form-group mb-4">
  <%= f.label 'Categoria da reclamação', required: true %>
  <%= f.collection_select :complaint_category, Complaint::COMPLAINT_CATEGORY, :to_s, :to_s, { include_blank: "Selecione uma Categoria" }, { required: true, class: 'form-control', multiple: false } %>
</div>
<div class="form-group">
  <%= f.input :comment, as: :text, label: 'Comentário:', input_html: { class: 'form-control' } %>
</div>