<%= simple_form_for @company do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :company_name, label: "Company Name", required: true %>
    <%= f.input :company_register_number, label: "Company Register Number" %>
    <%= f.input :company_address, label: "Address" %>
    <%= f.input :company_city, label: "City" %>
    <%= f.input :company_state, label: "State" %>
    <%= f.input :company_zip_code, label: "Zip Code" %>
    <%= f.input :company_country, label: "Country" %>
    <%= f.input :company_phone_number, label: "Phone Number" %>
    <%= f.input :company_website, label: "Website" %>
    <div class="form-group my-4">
      <%= f.label :company_category %><br>
      <%= f.collection_select :company_category, Company::COMPANY_CATEGORY.each_with_index.map { |category, index| [category, category] }, :last, :first, { include_blank: "Selecione uma Categoria" }, { required: true, class: 'form-control' } %>
    </div>
    <div id="social-media-links">
      <h3>Social Media Links</h3>
      <%= f.fields_for :company_social_media, OpenStruct.new do |social| %>
        <div class="social-media-group">
          <%= social.input :facebook, label: "Facebook" %>
          <%= social.input :twitter, label: "Twitter" %>
          <%= social.input :linkedin, label: "LinkedIn" %>
          <%= social.input :instagram, label: "Instagram" %>
          <%= social.input :youtube, label: "YouTube" %>
          <%= social.input :tiktok, label: "TikTok" %>
        </div>
      <% end %>
    </div>
    <%= f.input :company_description, label: "Description", as: :text %>
    <%= f.input :company_contact_name, label: "Contact Name" %>
    <%= f.input :company_contact_email, label: "Contact Email", as: :email %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>