<div class="form-new-company mb-4 pb-4">
  <%= simple_form_for @company do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :company_name, label: "Nome da empresa", required: true %>
      <%= f.input :company_register_number, label: "Numero de registro da empresa" %>
      <%= f.input :company_address, label: "Endereço" %>
      <%= f.input :company_city, label: "Cidade" %>
      <%= f.input :company_state, label: "Provincia" %>
      <%= f.input :company_zip_code, label: "Codigo postal" %>
      <%= f.input :company_country, label: "País" %>
      <%= f.input :company_phone_number, label: "Número de telefone" %>
      <%= f.input :company_website, label: "Website" %>
      <%= label_tag 'role', 'Seu cargo na empresa *' %>
      <% roles = CompaniesUser::ROLE %>
      <%= select_tag 'registration_type[role]', options_for_select(roles), { prompt: 'Selecione uma categoria', class: 'form-control mt-2', required: true } %>
      <div class="form-group my-4">
        <%= f.label :company_category, 'Categoria da empresa' %><br>
        <%= f.collection_select :company_category, 
                                          Company::COMPANY_CATEGORY, 
                                          :to_s, :to_s, 
                                          { include_blank: 'Selecione uma categoria' },
                                          { class: 'form-control mt-2' } %>
      </div>
      <div id="social-media-links">
        <h3 class="text-center mb-4"><strong>Redes sociais da empresa</strong></h3>
        <p class="text-center">* Insira pelo menos <span>um link de rede social</span> da empresa</p>
        <%= f.fields_for :company_social_media, OpenStruct.new do |social| %>
          <div class="social-media-group">
            <%= social.input :facebook, label: "Facebook" %>
            <%= social.input :twitter, label: "Twitter" %>
            <%= social.input :linkedin, label: "Linkedin" %>
            <%= social.input :instagram, label: "Instagram" %>
            <%= social.input :youtube, label: "YouTube" %>
            <%= social.input :tiktok, label: "TikTok" %>
          </div>
        <% end %>
      </div>
      <div class="mt-4">
        <%= f.input :company_description, label: "Descrição da empresa", as: :text %>
        <%= f.input :company_contact_name, label: "Nome de contato" %>
        <%= f.input :company_contact_email, label: "Email de contato", as: :email %>
        <%= f.input :company_logo, label: "Logo do empresa" %>
        <%= f.input :company_cover, label: "Banner da empresa" %>
      </div>
    </div>
    <div class="mt-4 d-flex justify-content-center">
      <%= f.button :submit, "Criar empresa", class: "btn-red" %>
    </div>
  <% end %>
</div>