<div class="my-4">
  <h4>@<%= @user.username_protected %> criou <strong><%= @user.complaints.present? ? @user.complaints.size : '0' %> reclamações</strong> em <strong><%= @user.complaints.present? ? @user.unique_complaint_companies_count : '0' %> empresas</strong></h4>
  <% if @user.complaints.present? %>
    <h4 class="my-4">Teve <strong><%= @user.complaints_answered_count %> respostas</strong> em <strong><%= @user.complaints.size %> reclamações</strong></h4>
    <div class="my-4">
      <h3>Reclamações</h3>
      <ul>
        <% @user.complaints.each do |complaint| %>
          <li><%= link_to complaint.title, complaint_path(complaint) %></li>
        <% end %>
      </ul>
    </div>
    <h4>A porcentagem de reclamações respondidas é <strong><%= @user.complaints_answered_percentage.round %>%</strong></h4>
  <% end %>
</div>