<div class="my-4">
  <h4><%= @user.first_name %> criou <strong><%= @user.complaints.size %> reclamações</strong> em <strong><%= @user.unique_complaint_companies_count %> empresas</strong></h4>
  <h4 class="my-4">Teve <strong><%= @user.complaints_asnwered_count %> respostas</strong> em <strong><%= @user.unique_complaints_asnwered_count %> reclamações</strong></h4>
</div>