<div class="container">
  <div class="d-md-none">
    <%= render 'shared/back_btn' %>
  </div>
  <% if @is_company %>
    <div class="new-registration-page mb-4">
      <div class="register-new-company mt-4">
        <div class="d-flex align-items-center mb-4">
          <i class="fa fa-building fa-3x me-4"></i>
          <h2 class="mb-0 pb-0">Você está se registrando como <strong>empresa</strong></h2>
        </div>
        <div class="border-bottom px-4 mb-4"></div>
        <h3 class="mb-4">Insira suas informações:</h3>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">

            <%= f.input :username, 
        required: true, 
        autofocus: true, 
        input_html: { placeholder: "Escolha um username" },
        hint: ("Minimo #{@minimum_password_length} caracteres, SEM ESPAÇOS" if @minimum_password_length)%>

            <%= f.input :email, label: 'Email Empresarial', required: true, autofocus: true, input_html: { placeholder: "seu-email@empresarial.com" } %>
            <%= f.input :password, label: "Senha", required: true, hint: ("Minimo #{@minimum_password_length} caracteres" if @minimum_password_length), input_html: { placeholder: "insira uma senha" } %>
            <%= f.input :password_confirmation, label: "Confirme sua senha", required: true, input_html: { placeholder: "confirme sua senha" } %>
          </div>
          <div>
            <h3>Insira seu cargo na empresa:</h3>
            <% roles = CompaniesUser::ROLE %>
            <%= select_tag 'registration_type[role]', options_for_select(roles), { prompt: 'Selecione seu cargo', class: 'form-control', required: true } %>
          </div>
          <div class="d-flex justify-content-center my-4">
            <p class="alert-box col-12 col-md-10">Ao registrar-se com um perfil empresarial, você confirma que todas as
              informações fornecidas são verdadeiras e precisas. Lembre-se de que tanto nós quanto a empresa teremos
              acesso a esses dados para verificação. Não é permitido fornecer informações falsas ou enganosas. O
              descumprimento pode levar à suspensão ou exclusão do seu perfil. Agradecemos sua honestidade e
              cooperação.</p>
          </div>
          <div class="form-actions d-flex justify-content-center mb-4">
            <%= f.button :submit, "Registre-se", class: "btn-red" %>
          </div>
          </div>
        <% end %>
  <% else %>
    <div class="new-user mt-4">
      <div class="d-flex align-items-center mb-4">
        <i class="fa-solid fa-user me-3"></i>
        <h2>Você está se registrando como <strong>consumidor</strong></h2>
      </div>
      <div class="border-bottom px-4 mb-4"></div>
      <h3 class="mb-4">Insira suas informações:</h3>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :username,
                      required: true,
                      autofocus: true,
                      input_html: { placeholder: "Escolha um username" },
                      hint: ("Minimo #{@minimum_password_length} caracteres" if @minimum_password_length) %>
          <%= f.input :email, required: true, autofocus: true, input_html: { placeholder: "seu@email.com" } %>
          <%= f.input :password, label: "Senha", required: true, hint: ("Minimo #{@minimum_password_length} caracteres" if @minimum_password_length), input_html: { placeholder: "insira uma senha" } %>
          <%= f.input :password_confirmation, label: "Confirmação da senha", required: true, input_html: { placeholder: "confirme sua senha" } %>
        </div>
        <div class="form-actions d-flex justify-content-center mb-4">
          <%= f.button :submit, "Registre-se", class: "btn-red" %>
        </div>
        <div class="form-actions d-flex justify-content-center mb-4">
          <%= link_to "Já tenho conta", new_session_path(resource_name), class: "btn-blue" %>
        </div>

        <div class="border-bottom px-4 mb-4"></div>
        <h3 class="mb-4">Insira suas informações:</h3>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :username, 
        required: true, 
        autofocus: true, 
        input_html: { placeholder: "Escolha um username" },
        hint: ("Minimo #{@minimum_password_length} caracteres, SEM ESPAÇOS" if @minimum_password_length)  %>
            <%= f.input :email, required: true, autofocus: true, input_html: { placeholder: "seu@email.com" } %>
            <%= f.input :password, label: "Senha", required: true, hint: ("Minimo #{@minimum_password_length} caracteres" if @minimum_password_length), input_html: { placeholder: "insira uma senha" } %>
            <%= f.input :password_confirmation, label: "Confirmação da senha", required: true, input_html: { placeholder: "confirme sua senha" } %>
          </div>
          <div class="form-actions d-flex justify-content-center mb-4">
            <%= f.button :submit, "Registre-se", class: "btn-red" %>
          </div>

        </div>
      <% end %>
  <% end %>
  <div class="d-none d-md-block">
    <%= render 'shared/back_btn' %>
  </div>
  </div>
</div>
