<div class="container" data-controller="company">
  <h2>Escolha o tipo de registro</h2>
  <%= simple_form_for :registration_type, url: registration_type_path, method: :post do |f| %>
    <div class="form-group">
      <%= f.input :is_company, as: :radio_buttons, collection: [["No", false], ["Yes", true]], label: "Register as company", required: true, input_html: { data: { action: "change->company#toggleCompanySelect" } } %>
    </div>
    <div class="form-group" data-company-target="companySelect" style="display: none;">
      <%= f.label :company_id, "Select your company" %>
      <%= f.collection_select :company_id, Company.all, :id, :company_name, { include_blank: "Select a company" }, { class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= f.button :submit, 'Próximo', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
