<div class="container registration_type" data-controller="select-company">
  <div class="d-md-none">
    <%= render 'shared/back_btn' %>
  </div>
  <h1 class="text-center mt-4">Escolha o tipo de registro</h1>
  <%= simple_form_for :registration_type, url: registration_type_path, method: :post do |f| %>
    <div class="row">
      <!-- Consumidor -->
      <div class="col-md-6 my-2">
        <div class="card p-4 text-center registration-card-user">
          <%= f.radio_button :is_company, false, id: 'consumer_radio', class: 'd-none' %>
          <label for="consumer_radio" class="card-body">
            <div class="icon">
              <i class="fa fa-user-circle fa-3x"></i>
            </div>
            <h2 class="card-title mt-3">Consumidor</h2>
            <p class="card-text">Quero reclamar de uma empresa e acompanhar minhas reclamações.</p>
            <button class="btn-green mt-3">Acessar área do consumidor</button>
          </label>
        </div>
      </div>
      <!-- Empresa -->
      <div class="col-md-6 my-2">
        <div class="card text-center p-4 registration-card-company">
          <%= f.radio_button :is_company, true, id: 'company_radio', class: 'd-none', data: { select_company_target: "companyRadio" } %>
          <label for="company_radio" class="card-body">
            <div class="icon">
              <i class="fa fa-building fa-3x"></i>
            </div>
            <h2 class="card-title mt-3">Empresa</h2>
            <p class="card-text">Quero responder reclamações e trabalhar a reputação da minha marca.</p>
            <button class="btn-blue mt-3" data-select-company-target="companySelectBtn" data-action="click->select-company#toggleCompanySelect">Acessar área da empresa</button>
          </label>
        </div>
      </div>
    </div>
    <!-- Selecione a Empresa -->
    <div data-select-company-target="companySelect" class="toggle-form mt-4">
      <h4 class="mt-2">Se sua empresa já estiver registrada, selecione abaixo:</h4>
      <div class="form-group my-4">
        <%= f.collection_select :company_id, Company.all, :id, :company_name, { include_blank: "Selecione sua empresa" }, { class: 'form-control custom-placeholder' } %>
      </div>
      <div class="form-group company-name" data-controller="suggestions">
        <p>Ou faça uma busca pelo <strong>nome da sua empresa</strong></p>
        <%= f.label :company_name, "Digite o nome da empresa" %>
        <%= text_field_tag :company_name, nil, id: 'search', class: 'form-control custom-placeholder', placeholder: "Comece a digitar o nome da empresa", autocomplete: "off", data: { action: "input->suggestions#autocomplete", suggestions_target: "companyNameInput" } %>
        <ul id="results" class="list-group mt-2" data-suggestions-target="suggestionsList"></ul>
      </div>
      <div class="d-flex justify-content-center">
        <p class="col-12 col-md-8 info-box my-4">
          Se a empresa <strong>não estiver registrada</strong>, você pode registrá-la após se cadastrar.
        </p>
      </div>
      <!-- Botão de Submissão -->
      <div class="form-group d-flex justify-content-center mb-4">
        <%= f.button :submit, 'Próximo', class: 'btn btn-red' %>
      </div>
    </div>
  <% end %>
  <div class="d-none d-md-block">
    <%= render 'shared/back_btn' %>
  </div>
</div>
