<div class="complaint-card border">
  <%= link_to company_complaint_path(complaint.company, complaint) do %>
    <div class="banner-card">
      <% if complaint.company.company_banner.attached? %>
        <%= cl_image_tag complaint.company.company_banner.key, class: "img-card" %>
      <% elsif complaint.company.company_banner_url.present? %>
        <%= image_tag complaint.company.company_banner_url, class: "img-card" %>
      <% else %>
        <%= image_tag 'card-img.png', class: "img-card" %>
      <% end %>
      <%= render 'components/tag_status', complaint: complaint %>
      <% if complaint.company.company_logo.present? %>
        <%= cl_image_tag complaint.company.company_logo.key, class: "card-avatar" %>
      <% else %>
        <%= image_tag 'company-avatar.png', class: "card-avatar" %>
      <% end %>
      <h3><%= complaint.title %></h3>
    </div>
  <% end %>
  <div class="p-2">
    <div class="d-flex justify-content-between align-items-center my-2">
      <span class="tag-grey-sm"><%= complaint.complaint_category %></span>
      <% if current_user.admin? %>
        <%= link_to company_complaint_path(complaint.company, complaint), data: { turbo_method: :delete, turbo_confirm: "Tem certeza que deseja excluir essa reclamação?" }, class: 'delete-link' do %>
          <i class="fa-solid fa-trash-alt me-2"></i>
        <% end %>
      <% else %>
        <%= link_to company_complaint_path(complaint.company, complaint), class: 'view-link' do %>
          <i class="fa-solid fa-chevron-right me-2"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>