<div class="complaint-tab mb-2">
  <%= link_to company_complaint_path(complaint.company, complaint) do %>
    <% if !current_page?(company_path(complaint.company)) %>
      <h5><strong><%= complaint.company.company_name %></strong></h5>
    <% end %>
    <h3><%= complaint.title %></h3>
    <p><%= complaint.comment %></p>
    <div class="d-flex justify-content-between align-items-center">
      <%= render 'components/tag_status', complaint: complaint %>
      <small>Criado em <%= complaint.created_at.strftime("%d %b") %></small>
    </div>
  <% end %>
</div>