<div class="container">
  <%= render 'shared/back_btn' %>
  <div class="row">
    <div class="col-md-3 mt-4 border d-none d-md-flex">
      <% if user_signed_in? && current_user.is_company? %>
        <%= render 'shared/sidebar_company' %>
      <% else %>
        <%= render 'shared/sidebar' %>
      <% end %>
    </div>
    <div class="col-md-9 col-12 mt-4">
      <div class="d-flex row justify-content-center">
        <h3 class="mb-4">Todas as reclamações</h3>
        <% post_counter = 0 %>
        <% @complaints.each do |complaint| %>
          <% post_counter += 1 %>
          <div class="col-10 col-md-4 mb-3">
            <%= render 'complaints/card', complaint: complaint %>
          </div>
          <% if post_counter == 4 || (post_counter > 4 && (post_counter - 3) % 10 == 0) %>
            <% if @card_ads %>
              <div class="col-12 col-md-4 mb-3 d-flex justify-content-center">
                <%= render 'ads/card', ad: @card_ads %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>