<div class="container">
  <h3>Reclamacao da empresa <strong><%= @complaint.company.company_name %></strong></h3>
  <h2><%= @complaint.title %></h2>
  <p>Escrito por <%= link_to @complaint.user.username_protected, user_path(@complaint.user) %></p>
  <p><strong>Comentario:</strong> <%= @complaint.comment %></p>
  <% if @complaint.responses.any? %>
    <h3>Responses:</h3>
    <% @complaint.responses.each do |response| %>
      <div class="mb-4">
        <p class="mb-2"><strong>Resposta:</strong> <%= response.content %></p>
        <small>Respondida por: <%= link_to response.user.username_protected, user_path(response.user) %></small>
      </div>
    <% end %>
  <% end %>
  <% unless !user_signed_in? %>
    <% if current_user.is_company? %>
      <% if current_user.companies.include?(@complaint.company) || !@complaint.company.blank?%>
        <div>
          <h3>Write a response:</h3>
          <%= simple_form_for([@complaint.company, @complaint, @response]) do |f| %>
            <%= f.input :content, label: false, placeholder: "Write a response..." %>
            <%= f.button :submit, "Submit Response" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>