<%= render 'companies/company_banner', company: @company %>
<%= render 'shared/back_btn_absolute' %>
<div class="container complaint-show">
  <h3 class="text-center my-4">
    Reclamação da empresa <%= link_to company_path(@company) do %><strong><%= @complaint.company.company_name %></strong><% end %>
  </h3>
  <div class="border-bottom px-4"></div>
  <div class="py-4">
    <h2><%= @complaint.title %></h2>
    <div class="d-flex justify-content-between">
      <small>
        Criado por: <%= link_to @complaint.user.username_protected, user_path(@complaint.user) %>
        <br>
        <i class="fa-regular fa-calendar me-2"></i>
        <%= @complaint.created_at.strftime('%d %B %Y') %>
      </small>
      <%= render 'components/tag_status', complaint: @complaint %>
    </div>
    <div class="my-4">
      <p><%= @complaint.comment %></p>
    </div>
    <span class="tag-complaint"><%= @complaint.complaint_category %></span>
  </div>
  <% if user_signed_in? && current_user.companies.include?(@complaint.company) %>
    <div class="my-3">
      <h5>Responda a reclamação:</h5>
      <%= simple_form_for([@complaint.company, @complaint, @response]) do |f| %>
        <%= f.input :content, label: false, placeholder: "Escreva uma resposta..." %>
        <div class="d-flex justify-content-center mt-4">
          <%= f.button :submit, "Responder", class: "btn-red" %>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if @responses.any? %>
    <div class="complaint-response border bg-white mb-4">
      <h4 class="mb-3">
        <% if @responses.size > 1 %>
          Respostas da empresa:
        <% else %>
          Resposta da empresa:
        <% end %>
      </h4>
      <% @responses.each do |response| %>
        <div class="mx-4 border-bottom"></div>
        <div class="my-4">
          <small>Respondida por: <%= link_to response.user.username_protected, user_path(response.user) %>, <strong><%= response.user.role_in_company(@complaint.company) %></strong> da empresa</small>
          <p class="my-2"><%= response.content %></p>
          <small><%= response.created_at.strftime('%d %B %Y') %></small>
          <!-- Renderizando as respostas aninhadas -->
          <% if response.responses.any? %>
            <div class="m-4">
              <% response.responses.each do |child_response| %>
                <div class="my-2 response-to-response">
                  <small><%= link_to child_response.user.username_protected, user_path(child_response.user) %> respondeu:</small>
                  <p><%= child_response.content %></p>
                  <small><%= child_response.created_at.strftime('%d %B %Y') %></small>
                </div>
              <% end %>
            </div>
          <% end %>
          <!-- Formulário para responder à reclamação -->
          <div class="ml-5 response-to-response-form">
            <% if user_signed_in? && current_user.complaints.include?(@complaint) %>
              <p><strong>Responda ao <%= response.user.role_in_company(@complaint.company) %></strong></p>
              <%= simple_form_for([response.complaint.company, response.complaint, response.responses.build]) do |f| %>
                <%= f.hidden_field :parent_id, value: response.id %>
                <%= f.input :content, label: false, placeholder: "Escreva uma resposta..." %>
                <div class="d-flex justify-content-end my-4">
                  <%= f.button :submit, "Responder", class: "btn-red" %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
