<%= render 'companies/company_banner', company: @company %>
<%= render 'shared/back_btn_absolute' %>
<div class="container complaint-show">
  <h3 class="text-center my-4">
    Reclamação da empresa <%= link_to company_path(@company) do %><strong><%= @complaint.company.company_name %></strong><% end %>
  </h3>
  <div class="border-bottom px-4"></div>
  <div class="py-4">
    <div class="d-flex align-items-center">
      <h2><%= @complaint.title %></h2>
      <% if user_signed_in? && current_user.admin? %>
        <%= link_to company_complaint_path(@company, @complaint), data: { turbo_method: :delete, turbo_confirm: "Tem certeza que deseja excluir essa reclamação?" }, class: 'delete-link' do %>
          <i class="fa-solid fa-trash-alt mx-4"></i>
        <% end %>
      <% end %>
    </div>
    <div class="d-flex justify-content-between">
      <div>
        <small>
          <i class="fa-regular fa-calendar me-2"></i>
          <%= @complaint.created_at.strftime('%d %B %Y') %><br>
          Criado por <strong><%= link_to user_path(@complaint.user) do %><%= @complaint.user.username_protected %><% end %></strong></small>
      </div>
      <%= render 'components/tag_status', complaint: @complaint %>
    </div>
    <div class="rating-show mt-2">
      <% if @complaint.review.present? && @complaint.review > 0 %>
        <% @complaint.review.times do %>
          <i class="fa-solid fa-skull-crossbones me-1 rating"></i>
        <% end %>
      <% else %>
        <i class="fa-solid fa-skull-crossbones me-1 rating-desactive "></i>
      <% end %>
    </div>
    <div class="my-4">
      <p><%= @complaint.comment %></p>
    </div>
    <span class="tag-complaint"><%= @complaint.complaint_category %></span>
  </div>
  <!-- btn like -->
  <div class="mb-4">
    <%= render "components/like_button", item: @complaint, 
                                        path1: unlike_company_complaint_path(company_id: @complaint.company_id, id: @complaint.id), 
                                        path2: like_company_complaint_path(company_id: @complaint.company_id, id: @complaint.id) %>
  </div>
  <% if @responses.any? %>
    <div class="complaint-response border bg-white">
      <h4 class="mb-3">
        <% if @responses.size > 1 %>
          Respostas da empresa:
        <% else %>
          Resposta da empresa:
        <% end %>
      </h4>
      <% @responses.each do |response| %>
        <div class="mx-4 border-bottom"></div>
        <div class="my-4">
          <small>Respondida por: <%= link_to response.user.username, user_path(response.user) %> - <strong><%= response.user.role_in_company(@complaint.company) %></strong> da empresa</small>
          <p class="my-2"><%= response.content %></p>
          <small><%= response.created_at.strftime('%d %B %Y') %></small>
          <!-- btn like -->
          <% @response_like = response %>
          <div class="mt-2">
            <%= render 'components/like_button', 
        item: @response_like, 
        path1: unlike_company_complaint_response_path(
                  company_id: @response_like.company_id, 
                  complaint_id: @response_like.complaint_id, 
                  id: @response_like.id
                ), 
        path2: like_company_complaint_response_path(
                  company_id: @response_like.company_id, 
                  complaint_id: @response_like.complaint_id, 
                  id: @response_like.id
                ) %>
          </div>
          <!-- respostas postas aninhadas -->
          <% if response.responses.any? %>
            <div class="m-4">
              <% response.responses.each do |child_response| %>
                <div class="my-2 response-to-response">
                  <small><%= link_to child_response.user.username_protected, user_path(child_response.user) %> respondeu:</small>
                  <p><%= child_response.content %></p>
                  <small><%= child_response.created_at.strftime('%d %B %Y') %></small>
                </div>
                <!-- btn like -->
                <div class="mt-2">
                  <%= render 'components/like_button', 
                item: child_response, 
                path1: unlike_company_complaint_response_path(
                          company_id: child_response.company_id, 
                          complaint_id: child_response.complaint_id, 
                          id: child_response.id
                        ), 
                path2: like_company_complaint_response_path(
                          company_id: child_response.company_id, 
                          complaint_id: child_response.complaint_id, 
                          id: child_response.id
                        ) %>
                </div>
              <% end %>
            </div>
          <% end %>
          <!-- Formulário para responder à reclamação -->
          <div class="ml-5 response-to-response-form">
            <% if user_signed_in? && current_user.complaints.include?(@complaint) %>
              <p>Responda ao <%= response.user.username %>, <strong><%= response.user.role_in_company(@complaint.company) %></strong>:</p>
              <%= simple_form_for([response.complaint.company, response.complaint, response.responses.build]) do |f| %>
                <%= f.hidden_field :parent_id, value: response.id %>
                <%= f.input :content, label: false, placeholder: "Escreva uma resposta..." %>
                <div class="d-flex justify-content-end my-4">
                  <%= f.button :submit, "Responder", class: "btn-red" %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if user_signed_in? && current_user.companies.include?(@complaint.company) %>
    <div class="border-bottom mx-4"></div>
    <div class="mt-3">
      <h5>Responda a reclamação:</h5>
      <%= simple_form_for([@complaint.company, @complaint, @response]) do |f| %>
        <%= f.input :content, label: false, placeholder: "Escreva uma resposta..." %>
        <div class="d-flex justify-content-center mt-4">
          <%= f.button :submit, "Responder", class: "btn-red" %>
        </div>
      <% end %>
    </div>
  <% end %>
  <!-- btn cadastre-se para responder-->
  <% if !user_signed_in? %>
    <div class="d-flex row justify-content-center mt-4">
      <div class="border p-4 complaint-company col-11 col-md-10">
        <h5 class="text-center mb-4">Essa reclamação pertence à sua empresa? <br>
          Cadastre-se como <strong>empresa</strong> e responda</h5>
        <%= render 'components/btn_companies', btn_text: 'Cadastre-se e responda', link_path: registration_type_path %>
      </div>
    </div>
  <% end %>
</div>
