<div class="container">
  <div class="user-dashboard mb-4">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-md-3 mt-4 border d-none d-md-flex">
        <%= render 'shared/sidebar' %>
      </div>
      <!-- Main content -->
      <div class="col-md-9 col-12">
        <div class="mt-4 mx-2">
          <!-- ADS -->
          <% if @banner_sm_ads %>
            <%= render 'ads/banner', ad: @banner_sm_ads %>
          <% end %>
          <div class="border p-4 welcome-dashboard my-4">
            <h3 class="text-center">Bem vindo ao <strong>Reclame JP</strong> <br>
              <% if user_signed_in? %>
                <span><%= current_user.username %></span>
              <% else %>
                <span>Visitante</span>
              <% end %>
            </h3>
          </div>
          <!-- CARROUSEL -->
          <div>
            <h5 class="text-center mb-2 text-bold">Últimas empresas cadastradas</h5>
            <% cache @companies do %>
              <%= render 'companies/carrousel', companies: @companies %>
            <% end %>
            <div class="d-flex justify-content-center mt-2 mb-4">
              <%= link_to "Todas as empresas", companies_path, class: "btn-blue" %>
            </div>
          </div>
          <div class="border bg-white p-4">
            <div class="ms-4">
              <h3 class="mb-4">Está com algum <span>problema?</span></h3>
              <% if user_signed_in? %>
                <p><strong>Crie uma reclamação</strong></p>
                <%= render 'components/btn_reclamar', path: new_complaint_path %>
              <% else %>
                <p><strong>Registre-se e crie uma reclamação</strong>, reclamações podem ser feitas de forma <strong>anônima</strong></p>
                <%= render 'components/btn_reclamar', text: 'Nova reclamacão', path: registration_type_path %>
              <% end %>
            </div>
          </div>
          <div class="companies mb-4">
            <div class="d-flex justify-content-between align-items-center my-4">
              <h2>Últimas empresas</h2>
              <%= link_to companies_path do %>
                <i class="fa-solid fa-circle-arrow-right"></i>
              <% end %>
            </div>
            <div class="d-flex flex-row flex-nowrap overflow-auto">
              <% @companies.each do |company| %>
                <div class="col-10 col-md-4 m-2">
                  <%= render 'companies/card', company: company %>
                </div>
              <% end %>
            </div>
          </div>
          <%= render 'components/company_not_find' %>
          <!-- ADS -->
          <div class="mt-4">
            <% if @banner_ads %>
              <%= render 'ads/banner', ad: @banner_ads %>
            <% end %>
          </div>
          <div class="my-4 pt-4 ranked_companies">
            <div class="d-flex justify-content-between align-items-center my-4">
              <h2 class="mb-4"><span>Maior</span> pontuação</h2>
              <%= link_to top_scored_companies_companies_path do %>
                <i class="fa-solid fa-circle-arrow-right"></i>
              <% end %>
            </div>
            <% cache @top_ranked_companies_home do %>
              <% @top_ranked_companies_home.each do |company| %>
                <div class="mb-2">
                  <%= render 'companies/ranked_companies', company: company %>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="my-4 pt-4 ranked_companies">
            <div class="d-flex justify-content-between align-items-center my-4">
              <h2 class="mb-4"><span>Pior</span> pontuação</h2>
              <%= link_to low_scored_companies_companies_path do %>
                <i class="fa-solid fa-circle-arrow-right"></i>
              <% end %>
            </div>
            <% cache @low_ranked_companies_home do %>
              <% @low_ranked_companies_home.each do |company| %>
                <div class="mb-2">
                  <%= render 'companies/ranked_companies', company: company %>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="complaints pt-4 pb-2">
            <div class="d-flex justify-content-between align-items-center my-4">
              <h2>Últimas reclamações</h2>
              <%= link_to complaints_path do %>
                <i class="fa-solid fa-circle-arrow-right"></i>
              <% end %>
            </div>
            <div class="d-flex flex-row flex-nowrap overflow-auto mb-4">
              <% @complaints.sort_by { |i| -i.created_at.to_i }.last(5).each do |complaint| %>
                <div class="m-2 col-9 col-md-4">
                  <%= render 'complaints/card', complaint: complaint %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="border p-4 mt-4 bg-white">
            <h3 class="mb-4 text-center">Crie uma reclamação <span>anônima</span> agora mesmo</h3>
            <% if user_signed_in? %>
              <%= render 'components/btn_reclamar', text: 'Reclamar', path: new_complaint_path %>
            <% else %>
              <%= render 'components/btn_reclamar', text: 'Reclamar', path: registration_type_path %>
            <% end %>
          </div>
          <!-- ADS -->
          <div class="mt-4">
            <% if @banner_ads %>
              <%= render 'ads/banner', ad: @banner_ads %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>