<div class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <%= link_to root_path do %>
        <%= image_tag 'reclame-logo.png', class: "logo-sm" %>
      <% end %>
      <%= link_to 'Inicio', root_path, class: "ms-4 nav-link d-none d-md-block" %>
    </div>
    <div class="col-8 col-md-6">
      <%= render 'components/search_bar' %>
    </div>
    <div>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
          <%= link_to root_path do %>
            <%= image_tag 'reclame-logo.png', class: "logo-sm" %>
          <% end %>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <% if user_signed_in? %>
            <div class="d-md-none">
              <% if current_user.is_company? %>
                <div class="border p-4">
                  <%= render 'shared/sidebar_company' %>
                </div>
              <% else %>
                <div class="border p-4">
                  <%= render 'shared/sidebar' %>
                </div>
              <% end %>
            </div>
            <ul class="navbar-nav me-auto d-none d-md-flex">
              <li class="nav-item dropdown">
                <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <% if user_signed_in? && current_user.avatar.present? %>
                    <%= cl_image_tag current_user.avatar.key, class: "avatar", alt: "dropdown menu" %>
                  <% else %>
                    <%= image_tag 'user-photo.png', class: "avatar", alt: "dropdown menu" %>
                  <% end %>
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <%= link_to "Meu Perfil", user_path(current_user), class: "dropdown-item" %>
                  <%= link_to "Editar Perfil", edit_user_path(current_user), class: "dropdown-item" %>
                  <%= link_to "Sair", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
                </div>
              </li>
            <% else %>
              <div class="nav-item d-flex">
                <%= link_to "Login", new_user_session_path, class: "nav-link mb-2 mx-2" %>
                <%= link_to "Registre-se", registration_type_path, class: "nav-link mb-2 mx-2" %>
              </div>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
