<div class="sidebar">
  <div class="row d-flex justify-content-center pb-4 bg-white-tab">
    <div class="d-flex justify-content-center my-4 pt-4">
      <% if current_user.avatar.present? %>
        <%= cl_image_tag current_user.avatar.key, class: "avatar-large" %>
      <% else %>
        <%= image_tag 'user-photo.png', class: "avatar-large" %>
      <% end %>
    </div>
    <h3 class="text-center pb-2">Ola <strong><%= current_user.username %></strong></h3>
    <% if current_user.companies.any? %>
      <%= render 'components/btn_companies' %>
    <% else %>
      <%= link_to 'Create your company profile', new_company_path, class: "btn-red" %>
    <% end %>
  </div>
  <div class="row my-4 profile-links">
    <div class="d-flex m-2 pb-2">
      <%= link_to root_path do %>
        <i class="fa-solid fa-house me-2"></i>
        <span>Inicio</span>
      <% end %>
    </div>
    <div class="my-2 pb-2">
      <div class="container-fluid ps-2">
        <div class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation">
          <i class="fa-solid fa-bullhorn me-2"></i>
          <% if current_user.companies.size > 1 %>
            <span>Reclamações das empresas</span>
          <% else %>
            <span>Reclamações da sua empresa</span>
          <% end %>
        </div>
      </div>
      <div class="collapse show" id="navbarToggleExternalContent">
        <div class="row ms-4 px-4 pt-4">
          <% if current_user.companies.present? && current_user.companies.joins(:complaints).exists? %>
            <%= link_to 'Todas', user_user_complaints_path(current_user, companies_ids: current_user.companies.pluck(:id)), class: "mb-4" %>
            <%= link_to 'Respondidas', user_user_complaints_path(current_user, companies_ids: current_user.companies.pluck(:id),  respondidas: true), class: "mb-4" %>
            <%= link_to 'Não Respondidas', user_user_complaints_path(current_user, companies_ids: current_user.companies.pluck(:id),  respondidas: false), class: "mb-4" %>
          <% else %>
            <p>Sem reclamações</p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="d-flex m-2 pb-2">
      <%= link_to user_path(current_user) do %>
        <i class="fa-solid fa-user me-2"></i>
        <span>Meu perfil</span>
      <% end %>
    </div>
    <div class="d-flex m-2">
      <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
        <i class="fa-solid fa-right-from-bracket me-2"></i>
        <span>Sair</span>
      <% end %>
    </div>
  </div>
</div>