<div class="company-card border">
  <%= link_to company_path(company) do %>
    <% if company.company_cover.present? %>
      <%= cl_image_tag company.company_cover.key, class: "card-cover" %>
    <% else %>
      <%= image_tag 'card-img.png', class: "card-cover" %>
    <% end %>
    <div class="company-card-info mb-2">
      <div>
        <% if user_signed_in? && current_page?(user_user_companies_path(current_user)) %>
          <% role = current_user.companies_users.find_by(company_id: company.id).role %>
          <small>Voce é <strong><%= role %></strong> da empresa</small>
        <% end %>
        <h3><%= company.company_name %></h3>
        <span class="tag-grey-sm"><%= company.company_category %></span>
      </div>
      <div class="company-score">
        <i class="fa-solid fa-medal me-2"></i>
        <h5><%= company.company_score %><small>/10</small></h5>
      </div>
      <% if company.company_logo.present? %>
        <%= cl_image_tag company.company_logo.key, class: "card-avatar" %>
      <% else %>
        <%= image_tag 'company-avatar.png', class: "card-avatar" %>
      <% end %>
    </div>
  <% end %>
</div>