<div class="company-card border">
  <%= link_to company_path(company) do %>
    <% if company.company_banner.attached? %>
      <%= cl_image_tag company.company_banner.key, class: "card-cover" %>
    <% elsif company.company_banner_url.present? %>
      <%= image_tag company.company_banner_url, class: "card-cover" %>
    <% else %>
      <%= image_tag 'card-img.png', class: "card-cover" %>
    <% end %>
  <% end %>
  <div class="company-card-info mb-2 d-flex justify-content-between">
    <div>
      <% if user_signed_in? && current_page?(user_user_companies_path(current_user)) %>
        <% role = current_user.companies_users.find_by(company_id: company.id).role %>
        <small>Voce é <strong><%= role %></strong> da empresa</small>
      <% end %>
      <h3><%= company.company_name %></h3>
      <%= link_to search_results_path(company_category: company.company_category) do %>
        <span class="tag-grey-sm"><%= company.company_category %></span>
      <% end %>
    </div>
    <div class="company-score">
      <i class="fa-solid fa-medal me-2"></i>
      <% company_score = company.company_score %>
      <h5><%= company_score %><small>/10</small></h5>
    </div>
    <%= link_to company_path(company) do %>
      <% if company.company_logo.present? %>
        <%= cl_image_tag company.company_logo.key, class: "card-avatar" %>
      <% elsif company.company_logo_url.present? %>
        <%= image_tag company.company_logo_url, class: "card-avatar" %>
      <% else %>
        <%= image_tag 'company-avatar.png', class: "card-avatar" %>
      <% end %>
    <% end %>
  </div>
  <% if can_edit_company?(company) %>
    <%= link_to edit_company_path(company) do %>
      <i class="fa-solid fa-pen-to-square"></i>
    <% end %>
  <% end %>
</div>