<div class="company-card border">
  <%= link_to company_path(company) do %>
    <% if company.company_cover.present? %>
      <%= image_tag company.company_cover, class: "card-cover" %>
    <% else %>
      <%= image_tag 'card-img.png', class: "card-cover" %>
    <% end %>
    <div class="company-card-info mb-2">
      <div>
        <h3><%= company.company_name %></h3>
        <span class="tag-grey-sm"><%= company.company_category %></span>
      </div>
      <div class="company-score">
        <i class="fa-solid fa-medal me-2"></i>
        <h5><%= company.company_score %><small>/10</small></h5>
      </div>
      <% if company.company_logo.present? %>
        <%= image_tag company.company_logo, class: "card-avatar" %>
      <% else %>
        <%= image_tag 'company-avatar.png', class: "card-avatar" %>
      <% end %>
    </div>
  <% end %>
</div>