<div class="d-flex ranked-companies-card border align-items-center">
  <% if company.company_score <= 3 %>
    <%= image_tag 'ranking/bad.png', class: "medal" %>
  <% elsif company.company_score <= 6 %>
    <%= image_tag 'ranking/medium.png', class: "medal" %>
  <% else %>
    <%= image_tag 'ranking/good.png', class: "medal" %>
  <% end %>
  <div class="d-flex justify-content-between align-items-center ms-2 w-100">
    <div>
      <div class="d-flex mb-2">
        <%= link_to company_path(company) do %>
          <% if company.company_logo.present? %>
            <%= cl_image_tag company.company_logo.key, class: "avatar" %>
          <% elsif company.company_logo_url.present? %>
            <%= image_tag company.company_logo_url, class: "avatar" %>
          <% else %>
            <%= image_tag 'company-avatar.png', class: "avatar" %>
          <% end %>
        <% end %>
        <h4 class="ms-2"><%= company.company_name %></h4>
      </div>
      <%= link_to search_path(company_category: company.company_category) do %>
        <span class="tag-grey-sm"><%= company.company_category %></span>
      <% end %>
    </div>
    <div class="ms-2">
      <h5 class="ms-3 mb-0"><%= company.company_score %><small>/10</small></h5>
    </div>
  </div>
</div>