<div class="container">
  <%= render 'shared/back_btn' %>
  <h2 class="my-4 text-center">Editar empresa <strong><%= @company.company_name %></strong></h2>
  <%= simple_form_for @company do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :company_name, label: "Nome da empresa", required: true %>
      <%= f.input :company_address, label: "Endereço" %>
      <div class="d-flex">
        <div class="col-6 me-2">
          <%= f.input :company_city, label: "Cidade" %>
        </div>
        <div class="col">
          <%= f.label "Província", required: true, class: "mb-2" %>
          <%= f.collection_select :company_prefecture,
                                  Company::COMPANY_PREFECTURE,
                                  :to_s, :to_s,
                                  { include_blank: 'Selecione uma província' },
                                  { class: 'form-control mb-3' } %>
        </div>
      </div>
      <div class="d-flex">
        <div class="col-6 me-2">
          <%= f.label "Código Postal", class: "mb-2" %>
          <div class="d-flex align-items-center w-100">
            <p class="me-2 mb-0">〒</p>
            <%= f.input :company_zip_code, label: false, wrapper: false, input_html: { class: "form-control flex-grow-1" } %>
          </div>
        </div>
        <div class="col">
          <%= f.input :company_country, label: "País da empresa", collection: ISO3166::Country.all.map { |country| [country.translations['en'], country.alpha2] }, prompt: "Selecione um país" %>
        </div>
      </div>
      <div class="d-flex row">
        <div class="col-12 col-md-6">
          <%= f.input :company_phone_number, label: "Telefone da empresa" %>
        </div>
        <div class="col-12 col-md">
          <%= f.input :company_website, label: "Website" %>
        </div>
      </div>
      <div class="d-flex row align-items-center">
        <div class="col-12 col-md-6">
          <% if session[:role].blank? %>
            <%= label_tag 'role', 'Seu cargo na empresa' %>
            <%= text_field_tag 'role', '', placeholder: "Insira o seu cargo na empresa", class: 'form-control', required: true %>
          <% else %>
            <%= hidden_field_tag 'role', session[:role] %>
          <% end %>
        </div>
        <div class="form-group my-4 col-12 col-md">
          <%= f.label "Categoria da empresa *", class: "mb-2" %>
          <%= f.collection_select :company_category,
                                  Company::COMPANY_CATEGORY,
                                  :to_s, :to_s,
                                  { include_blank: 'Selecione uma categoria' },
                                  { class: 'form-control' } %>
        </div>
      </div>
      <div id="social-media-links">
        <h3 class="text-center pt-4">Redes sociais da empresa</h3>
        <p class="text-center">Insira pelo menos <strong>uma</strong> URL</p>
        <% company_social_media = @company.company_social_media.with_indifferent_access %>
        <div class="social-media-group">
          <%= f.input :company_social_media_facebook, label: "Facebook", input_html: { value: company_social_media["facebook"] } %>
          <%= f.input :company_social_media_twitter, label: "Twitter", input_html: { value: company_social_media["twitter"] } %>
          <%= f.input :company_social_media_linkedin, label: "LinkedIn", input_html: { value: company_social_media["linkedin"] } %>
          <%= f.input :company_social_media_instagram, label: "Instagram", input_html: { value: company_social_media["instagram"] } %>
          <%= f.input :company_social_media_youtube, label: "YouTube", input_html: { value: company_social_media["youtube"] } %>
          <%= f.input :company_social_media_tiktok, label: "TikTok", input_html: { value: company_social_media["tiktok"] } %>
        </div>
      </div>

      <div class="border-bottom m-4 pt-2"></div>
      <%= f.input :company_description, label: "Descrição da empresa", as: :text %>
      <%= f.input :company_contact_email, label: "Email de contato", as: :email %>
      <h4 class="text-center mt-4">A empresa possui <strong>logomarca?</strong> </h4>
      <p>Faça upload do arquivo <strong>ou</strong> cole uma URL</p>
      <%= f.input :company_logo, as: :file, label: 'Upload do logo da empresa' %>
      <%= f.input :company_logo_url, label: 'Ou cole a URL da logomarca da empresa' %>
      <h4 class="text-center mt-4">A empresa possui <strong>banner?</strong> </h4>
      <p>Faça upload do arquivo <strong>ou</strong> cole uma URL</p>
      <%= f.input :company_banner, as: :file, label: 'Banner da empresa' %>
      <%= f.input :company_banner_url, label: 'Ou cole a URL do banner da empresa' %>
    </div>
    <div class="d-flex justify-content-center my-4">
      <%= f.submit "Editar", class: "btn-red" %>
    </div>
  <% end %>
</div>