<div class="container">
  <% company_fields = {
  "Register Number" => @company.company_register_number,
  "Address" => @company.company_address,
  "City" => @company.company_city,
  "State" => @company.company_state,
  "ZIP Code" => @company.company_zip_code,
  "Country" => @company.company_country,
  "Phone Number" => @company.company_phone_number,
  "Website" => @company.company_website
} %>
  <h1><%= @company.company_name %></h1>
  <% company_fields.each do |label, value| %>
    <% if value.present? %>
      <% if label == "Website" %>
        <p><strong><%= label %>:</strong> <%= link_to value, value, target: "_blank" %></p>
      <% else %>
        <p><strong><%= label %>:</strong> <%= value %></p>
      <% end %>
    <% end %>
  <% end %>
  <h2>Employees</h2>
  <% if @company.users.present? %>
    <ul>
      <% @company.users.each do |employee| %>
        <li><%= link_to employee.first_name, user_path(employee) %></li>
      <% end %>
    </ul>
  <% end %>
  <h2>Complaints</h2>
  <% if @company.complaints.present? %>
    <ul>
      <% @company.complaints.each do |complaint| %>
        <li><%= link_to complaint.title, company_complaint_path(@company, complaint) %></li>
      <% end %>
    <% end %>
  </ul>
</div>
