<div class="company_show">
  <div class="company-banner">
    <% if @company.company_cover.present? %>
      <%= image_tag @company.company_cover, class: "company-card-banner" %>
    <% else %>
      <%= image_tag 'card-img.png', class: "company-card-banner" %>
    <% end %>
    <% if @company.company_logo.present? %>
      <%= image_tag @company.company_logo, class: "banner-avatar" %>
    <% else %>
      <%= image_tag 'company-avatar.png', class: "banner-avatar" %>
    <% end %>
  </div>
  <div class="container mt-4">
    <div>
      <h1 class="text-center"><%= @company.capitalize_name %></h1>
      <div class="d-flex justify-content-center">
        <span class="tag-grey-sm"><%= @company.company_category %></span>
      </div>
    </div>
    <!-- FORM -->
    <% unless current_user.is_company? %>
      <div data-controller="complaint-form">
        <div class="d-flex justify-content-center my-4">
          <button class="btn-red-lg" data-complaint-form-target="newComplaintBtn" data-action="click->complaint-form#toggleForm">
            <i class="fa-solid fa-bullhorn me-2"></i>
            Reclamar
          </button>
        </div>
        <div data-complaint-form-target="formComplaint" class="toggle-form row d-flex justify-content-center">
          <h3 class="text-center mb-4">Crie uma reclamação da empresa <br>
            <strong><%= @company.capitalize_name %></strong></h3>
          <div class="col-md-8 py-4">
            <%= simple_form_for [@company, @new_complaint] do |f| %>
              <%= f.input :title, label: 'Titulo da reclamação' %>
              <%= f.input :review, placeholder: 'numero de 1 a 5' %>
              <%= f.input :comment, label: 'Reclamação' %>
              <div class="form-group mb-4">
                <%= f.label 'Categoria da reclamação', required: true, class: "mb-2" %>
                <%= f.collection_select :complaint_category, Complaint::COMPLAINT_CATEGORY, :to_s, :to_s, { include_blank: "Selecione uma Categoria" }, { required: true, class: 'form-control', multiple: false } %>
                <%= f.hidden_field :company_id, value: @company.id %>
              </div>
              <div class="d-flex justify-content-end">
                <%= f.submit "Enviar Reclamação", class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <!-- END FORM -->
    <div>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Inicio</button>
          <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Sobre</button>
          <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contato</button>
          <button class="nav-link" id="nav-employees-tab" data-bs-toggle="tab" data-bs-target="#nav-employees" type="button" role="tab" aria-controls="nav-employees" aria-selected="false">Empregados</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
          <div class="row mt-4">
            <div class="col-md-3">
              <div class="ranking-box">
                <div class="d-flex flex-column justify-content-center align-items-center">
                  <i class="fa-solid fa-medal mb-2"></i>
                  <h5 class="mb-0"><%= @company.company_score %><small>/10</small></h5>
                </div>
                <p class="text-center">Nota media da empresa.</p>
              </div>
              <div class="desempenho border p-2 mt-3 mb-4 bg-white">
                <h5 class="text-center mt-3">Desempenho</h5>
                <div class="d-flex align-items-center my-4">
                  <i class="fa-solid fa-bullhorn ms-2 me-3"></i>
                  <p>A empresa <span><%= @company.capitalize_name %></span> recebeu <strong><%= @company.complaints.size %></strong> reclamações</p>
                </div>
                <div class="d-flex align-items-center my-4">
                  <i class="fa-solid fa-comment-dots ms-2 me-3"></i>
                  <p>A empresa <span><%= @company.capitalize_name %></span> respondeu <strong><%= @company.complaints_answered_count %></strong> reclamações</p>
                </div>
                <div class="d-flex align-items-center my-4">
                  <i class="fa-solid fa-circle-check ms-2 me-3"></i>
                  <p>A porcentagem de reclamacoes respondidas é de <strong><%= @company.complaints_answered_percentage.round %>%</strong></p>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <%= render 'complaints_show' %>
            </div>
            <div class="col-md">
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
          <% company_fields = {
              "Register Number" => @company.company_register_number,
              "Address" => @company.company_address,
              "City" => @company.company_city,
              "State" => @company.company_state,
              "ZIP Code" => @company.company_zip_code,
              "Country" => @company.company_country,
              "Phone Number" => @company.company_phone_number,
              "Website" => @company.company_website
            } %>
          <% company_fields.each do |label, value| %>
            <% if value.present? %>
              <% if label == "Website" %>
                <p><strong><%= label %>:</strong> <%= link_to value, value, target: "_blank" %></p>
              <% else %>
                <p><strong><%= label %>:</strong> <%= value %></p>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">Contato</div>
        <div class="tab-pane fade" id="nav-employees" role="tabpanel" aria-labelledby="nav-employees-tab" tabindex="0">
          <% if @company.users.present? %>
            <div>
              <h3>Employees</h3>
              <ul>
                <% @company.users.each do |employee| %>
                  <li>
                    <% companies_user = @company.companies_users.find_by(user_id: employee.id) %>
                    <%= link_to "#{companies_user.role} - @#{employee.username_protected}", user_path(employee) %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <% if @company.complaints.present? %>
      <div>
        <h2>Complaints</h2>
        <ul>
          <% @complaints.each do |complaint| %>
            <li><%= link_to complaint.title, company_complaint_path(@company, complaint) %></li>
          <% end %>
        </ul>
      </div>
      <h4>A empresa <%= @company.company_name %> tem um total de <%= @company.complaints.size %> reclamações</h4>
      <% if @company.complaints_answered_count > 0 %>
        <h3>A empresa respondeu <%= @company.complaints_answered_count %> reclamações</h3>
      <% else %>
        <h3>A empresa não respondeu nenhuma reclamação</h3>
      <% end %>
      <h4>A porcentagem de reclamacoes respondidas são <strong><%= @company.complaints_answered_percentage.round %>%</strong></h4>
    <% end %>
    <% if user_signed_in? %>
    <% end %>
  </div>
</div>