<div class="container">
  <% company_fields = {
  "Register Number" => @company.company_register_number,
  "Address" => @company.company_address,
  "City" => @company.company_city,
  "State" => @company.company_state,
  "ZIP Code" => @company.company_zip_code,
  "Country" => @company.company_country,
  "Phone Number" => @company.company_phone_number,
  "Website" => @company.company_website
} %>
  <h1><%= @company.company_name %></h1>
  <% company_fields.each do |label, value| %>
    <% if value.present? %>
      <% if label == "Website" %>
        <p><strong><%= label %>:</strong> <%= link_to value, value, target: "_blank" %></p>
      <% else %>
        <p><strong><%= label %>:</strong> <%= value %></p>
      <% end %>
    <% end %>
  <% end %>
  <% if @company.users.present? %>
    <div>
      <h3>Employees</h3>
      <ul>
        <% @company.users.each do |employee| %>
          <li>
            <% companies_user = @company.companies_users.find_by(user_id: employee.id) %>
            <%= link_to "#{companies_user.role} - #{employee.email}", user_path(employee) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @company.complaints.present? %>
    <div>
      <h2>Complaints</h2>
      <ul>
        <% @complaints.each do |complaint| %>
          <li><%= link_to complaint.title, company_complaint_path(@company, complaint) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if !current_user.is_company? %>
    <div>
      <h3>Create a new complaint</h3>
      <%= simple_form_for [@company, @complaint] do |f|  %>
        <%= f.input :title %>
        <%= f.input :review %>
        <%= f.input :comment %>
        <div class="form-group">
          <%= f.hidden_field :company_id, value: @company.id %>
          <%= f.submit "Submit Complaint", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
