<!DOCTYPE html>
<html>
  <head>
    <title>ReclameJp</title>
    <%= render "shared/google_tag_manager" %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'favicon.svg' %>
  </head>
  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <div class="content">
      <!-- Anúncio do lado esquerdo -->
      <div class="left-side-ad">
        <% if @sidecard_ads %>
          <%= render 'ads/sidecard', ad: @sidecard_ads %>
        <% end %>
      </div>
      <%= yield %>
      <!-- Anúncio do lado direito -->
      <div class="right-side-ad">
        <% if @sidecard_ads %>
          <%= render 'ads/sidecard', ad: @sidecard_ads %>
        <% end %>
      </div>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
